/*generic css*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Inter';
    color: darkgray;
    text-align: center;
    padding: 1%;
}

h2 {
    font-family: 'Inter';
    font-size: 120%;
    color: white;
    text-align: center;
    padding: 1%;
}

li {
    padding: 1%;
}

p {
    padding: 1%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/*top bar*/

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gold;
    padding: 1%;
    margin-bottom: 10px;
}

#top-logo {
    font-family: 'Inter';
    width: 50%;
    font-size: 450%;
    color: darkgrey;
    text-align: center;
}

#info-modal {
    font-size: 300%;
    display: flex;
    align-items: center;
    color: darkgrey;
    background-color: gold;
    padding: 1%;
    border: none;
}

#info-modal:hover {
    color: white;
}

dialog {
    position: absolute;
    left: 25%;
    top: 15%;
    font-family: 'Inter';
    font-size: 150%;
    color: white;
    width: 50%;
    background: darkslategrey;
    border: none;
    padding: 1%;
}

dialog::backdrop {
    background-color: hsla(230, 100%, 50%, 0.25);
}

/*house & player game areas*/

#house-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#house-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 10px;
}

#player-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#player-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 10px;
}

.game-area {
    font-family: 'Inter';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
}

.game-card {
    font-family: 'Inter';
    font-size: 200%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    width: 20%;
    height: 150px;
    text-align: center;
    padding: 1%;
    box-shadow: 10px 10px lightslategray;
}

.image-container {
    height: 121px;
    width: 83px;
    visibility: hidden;
}

.game-score-area {
    font-family: 'Inter';
    color: white;
    font-size: large;
    text-align: center;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#house-score {
    font-size: 200%;
}

#player-score {
    font-size: 200%;
}


/*game buttons*/

#deal-button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#deal-button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    padding: 1%;
}

.game-button {
    font-family: 'Inter';
    font-size: 200%;
    width: 20%;
    height: 100px;
    color: white;
    text-align: center;
    border: darkblue;
    border-style: solid;
    border-width: 5px;
    background-color: blue;
    box-shadow: 5px 5px darkblue;
}

.game-button:hover {
    background-color: white;
    color: blue;
}

#hit-button {
    visibility: hidden;
}

#stand-button {
    visibility: hidden;
}

#reset-button {
    visibility: hidden;
}

/*score section*/

#score-area {
    font-family: 'Inter';
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}

#result-box {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    color: white;
    font-family: 'Inter';
    font-size: 200%;
    width: 30%;
    height: 100px;
    text-align: center;
    padding: 1%;
    border: solid;
    border-width: 10px;
    border-color: blue;
}

#score-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    width: 30%;
    font-size: 300%;
    color: darkgrey;
    text-align: center;
    border: solid;
    border-width: 10px;
    border-color: gold;
}

/*footer*/

#footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gold;
    padding: 1%;
}

#footer-message {
    background-color: gold;
    font-family: 'Inter';
    color: darkgrey;
    text-align: center;
}

/*media queries*/

@media only screen and (max-width: 1200px) {

    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 150%;
    }

    #top-logo {
        font-size: 400%;
    }

    #house-container {
        width: 70%;
    }

    #player-container {
        width: 70%;
    }

    .game-button {
        font-size: 150%;
    }

    .game-card {
        font-size: 150%;
    }

    #result-box {
        font-size: 150%;
    }

    #house-score {
        font-size: 150%;
    }

    #player-score {
        font-size: 150%;
    }
}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 100%;
    }

    h2 {
        font-size: 100%;
    }

    #top-logo {
        font-size: 300%;
    }

    #house-container {
        width: 95%;
    }

    #player-container {
        width: 95%;
    }

    .game-button {
        font-size: 100%;
    }

    .game-card {
        font-size: 80%;
    }

    #result-box {
        font-size: 100%;
    }

    #house-score {
        font-size: 100%;
    }

    #player-score {
        font-size: 100%;
    }
}