/*generic css*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-size: 1rem;
}

html {
    font-size: calc(60% + 0.8vmin);
}

h1 {
    font-family: 'Inter';
    font-size: 3rem;
    color: navy;
    text-align: center;
    padding: 0.2rem;
}

h2 {
    font-family: 'Inter';
    text-align: center;
    color: navy;
    font-size: 1.6rem;
    padding: 0.5rem;
}

h2 i {
    font-size: 3rem;
}

li {
    padding: 1%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

a {
    font-family: 'Inter';
    text-decoration: none;
    color: navy;
}

a:hover {
    color: white;
}

/*top bar*/
#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gold;
    padding: 0.5rem;
    margin-bottom: 10px;
}

#top-logo {
    font-family: 'Inter';
    width: 50%;
    text-align: center;
}

#info-modal {
    display: flex;
    align-items: center;
    background-color: gold;
    color: navy;
    padding: 0.5rem;
    border: none;
    font-size: x-large;
}

#info-modal:hover {
    color: white;
}

dialog {
    position: absolute;
    left: 25%;
    top: 10%;
    font-family: 'Inter';
    color: white;
    width: 50%;
    background: navy;
    border: none;
    padding: 2rem;
}

dialog::backdrop {
    background-color: hsla(230, 100%, 50%, 0.25);
}

#info-close-button {
    font-family: 'Inter';
    width: 5rem;
    color: white;
    text-align: center;
    border: none;
    background-color: blue;
    padding: 0.5rem;
    margin-top: 5px;
}

/*house & player game areas*/
#house-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#house-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 10px;
}

#player-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#player-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 10px;
}

.game-area {
    font-family: 'Inter';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.game-card {
    font-family: 'Inter';
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkgreen;
    width: 10rem;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 10px 10px lightslategray;
}

.image-container {
    height: 121px;
    width: 83px;
}

.game-score-area {
    font-family: 'Inter';
    color: white;
    text-align: center;
    background-color: navy;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

/*game buttons*/
#deal-button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#deal-button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    padding: 0.5rem;
}

.chip-area {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bet-box {
    font-size: 3rem;
    color: darkgrey;
    text-align: center;
    border: solid;
    border-width: 10px;
    border-color: gold;
    width: 10rem;
}

.game-button {
    font-family: 'Inter';
    width: 8rem;
    color: white;
    text-align: center;
    border: darkblue;
    border-style: solid;
    border-width: 5px;
    background-color: blue;
    box-shadow: 5px 5px darkblue;
    padding: 2rem;
}

.game-button:hover {
    background-color: white;
    color: blue;
}

#hit-button {
    visibility: hidden;
}

#stand-button {
    visibility: hidden;
}

#newhand-button {
    visibility: hidden;
}

#restart-button {
    visibility: hidden;
    background-color: gold;
    border-color: goldenrod;
    box-shadow: none;
    color: black;
}

/*score section*/
#score-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#score-area {
    font-family: 'Inter';
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

#result-box {
    background-color: navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    color: white;
    font-family: 'Inter';
    font-size: 1.2rem;
    width: 20rem;
    height: 8rem;
    text-align: center;
    padding: 0.5rem;
    border: solid;
    border-width: 10px;
    border-color: blue;
}

#bank-box {
    font-size: 3rem;
    width: 10rem;
    color: darkgrey;
    text-align: center;
    border: solid;
    border-width: 10px;
    border-color: gold;
}

/*footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gold;
    padding: 0.5rem;
}

#footer-message {
    background-color: gold;
    font-family: 'Inter';
    color: darkgrey;
    text-align: center;
}

/*media queries*/
@media only screen and (max-width: 1200px) {

    #house-container {
        width: 80%;
    }

    #player-container {
        width: 80%;
    }

    .game-button {
        box-shadow: none;
    }

    .game-card {
        box-shadow: none;
    }

    #deal-button-area {
        width: 70%;
    }

    #score-area {
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {

    #house-section {
        display: flex;
        flex-direction: column;
    }

    #house-container {
        width: 100%
    }

    #player-section {
        display: flex;
        flex-direction: column;
    }

    #player-container {
        width: 100%
    }

    .game-button {
        box-shadow: none;
        border-width: 2px;
        padding: 0.5rem;
    }

    .game-card {
        box-shadow: none;
        padding: 0.5rem;
    }

    #bank-box {
        border-width: 4px;
    }

    #bet-box {
        border-width: 4px;
    }

    #deal-button-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    #deal-button-area {
        width: 100%;
    }

    #score-section {
        display: flex;
        flex-direction: column;
    }

    #score-area {
        width: 100%;
    }
}